.vscode/settings.json
examples/simpleFodo/log.madx
examples/simpleFodo/stdout.madx
examples/simpleFodo/myFirstTwiss.txt
examples/simpleFodo/madx.ps
examples/simpleFodo/output.pkl
examples/simpleFodo/input.md
