.vscode/settings.json
examples/simpleFodo/log.madx
examples/simpleFodo/stdout.madx
examples/simpleFodo/myFirstTwiss.txt
examples/simpleFodo/madx.ps
examples/simpleFodo/output.pkl
examples/maskExample/bb_lenses.dat
examples/maskExample/bbtoolkit
examples/maskExample/db5
examples/maskExample/fc.2
examples/maskExample/fc.3
examples/maskExample/fc.3.aux
examples/maskExample/fc.8
examples/maskExample/fc.34
examples/maskExample/fidel
examples/maskExample/last_twiss.1.gz
examples/maskExample/lhc
examples/maskExample/log.madx
examples/maskExample/output.pkl
examples/maskExample/slhc
examples/maskExample/stdout.madx
examples/maskExample/twiss_bb
examples/maskExample/twiss_bb.b1
examples/maskExample/twiss_bb.b2
examples/maskExample/twiss_bpm_unperturbed.tfs
examples/maskExample/twiss_lhcb1.tfs
examples/maskExample/twiss.b1
examples/maskExample/twiss.b2
examples/maskExample/wise
examples/maskExample/temp/sliceho.input
examples/maskExample/temp/sliceho.madx
examples/maskExample/temp/sliceho.res
examples/maskExample/temp/surveyaux.tfs
examples/maskExample/temp/twiss.tfs
Untitled.ipynb
Untitled1.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
madxp/__pycache__/__init__.cpython-36.pyc
Untitled2.ipynb
Untitled3.ipynb
.ipynb_checkpoints/Untitled2-checkpoint.ipynb
.ipynb_checkpoints/Untitled3-checkpoint.ipynb
examples/Run3/db2018
examples/Run3/dbrun3
examples/Run3/log.madx
examples/Run3/output.pkl
examples/Run3/stdout.madx
Untitled4.ipynb
.ipynb_checkpoints/Untitled4-checkpoint.ipynb
